@media (max-width: 768px) {
  .details-panel.details-panel-mobile--bloqueada {
    background-color: #d1d5db;
  }

  .details-panel.details-panel-mobile--desbloqueada {
    background-color: #f3f4f6;
  }

  .details-panel.details-panel-mobile--en-curso {
    background-color: #dbeafe;
  }

  .details-panel.details-panel-mobile--regularizada {
    background-color: #DDD6FE;
  }

  .details-panel.details-panel-mobile--finalizada {
    background-color: #dcfce7;
  }
}
